/* stylelint-disable no-descending-specificity */
.ranking > div {
  display: grid;
  grid-template-columns: 30px 140px repeat(7, 1fr);
  align-items: center;
  padding: 8px 4px;
  font-family: var(--heading-font-family);
  font-size: 13px;
  line-height: 19px;
  color: var(--dark-color);
  border-bottom: 0.5px solid var(--color-accent);
}

.ranking > div > div {
  text-align: center;
}

.ranking > div > div:first-child {
  text-align: left;
  font-weight: 500;
}

.ranking > div > div:nth-child(2) {
  text-align: left;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ranking > div:first-child {
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid var(--color-accent);
}

.ranking > div:first-child > div {
  text-align: center;
  text-transform: capitalize;
}

.ranking > div:first-child > div:first-child {
  text-align: left;
  grid-column: span 2;
}

.ranking > div:nth-child(even) {
  background-color: var(--light-color);
}
